In [32]:
import pymysql

In [33]:
# 設定資料庫連線資訊
host = 'host.docker.internal'
port = 3306
user = 'root'
passwd = 'password'
db = 'TESTDB'
charset = 'utf8mb4'

In [34]:
# 建立連線
conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

Successfully connected!

In [35]:
cursor = conn.cursor()

In [44]:
# 試著 INSERT 一筆資料
# 注意 TABLE 欄位的資料型態

# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [ ]:
conn.commit()

In [ ]:
select_sql = """
select * from staff
"""
cursor.execute(select_sql)

1

In [ ]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [ ]:
# 東西拿完了, 所以就沒有資料了
cursor.fetchall()

()

In [37]:
# 整理 jsondata 成可 insert 進資料庫

data = [('001', 'Mike', '002', '45', 'M', '60000', '2020-10-13 21:41:49'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2020-10-13 21:41:49')]

sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [39]:
cursor.execute("delete from staff where ID = '001'")

1

In [51]:
conn.commit()

In [ ]:
cursor.executemany(sql_insert, data)

In [48]:
conn.commit()

In [45]:
cursor.execute("select * from staff")

8

In [47]:
db_data = cursor.fetchall()

In [50]:
db_data

[]

In [52]:
cursor.close()
conn.close()